* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* BODY */
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  background: #000;
}

/* APP */
#app {
  display: grid;
  place-content: center;
  height: 100vh;

  padding: 2rem;
}
