* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* BODY */
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  background: #000;
}

/* APP */
#app {
  display: grid;
  place-content: center;
  height: 100vh;

  padding: 2rem;
  gap: 4rem;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

header > img {
  width: clamp(20rem, 3vw, 32rem);
}

nav {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

nav input {
  font-size: 1.2rem;
  padding: 1.6rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;

  background: #06181c;

  width: 100%; /* Define que o input ocupará 100% da largura da div */
}

nav button {
  appearance: none;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;

  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 3.2rem;

  color: #fff;
  background: #065e7c;
}

nav button:hover {
  color: #065e7c;
  background: #fff;
}

nav button:hover img {
  content: url("./assets/star-icon-3.svg"); /* Altera a img do botão no hover */
}

/* TABLE */
table * {
  width: 100%;
  font-size: 1.4rem;
  line-height: 3.2rem;
  color: #e1e1e6;
}

.table-container {
  border-radius: 1.2rem;
  border: 1px solid #4a808c;
  overflow: hidden; /* Garante que o border-radius seja aplicado corretamente */
}

table {
  background: #06181c;
  border-collapse: collapse; /* Elimina os espaços entre os quadradinhos */
  width: 100%; /* Garante que a tabela ocupe todo o espaço do contêiner */
}

thead {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  background: #092d38;
}

table th {
  text-align: left;
  padding: 1.5rem;
}

.empty-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #4e5455;

  padding: 6rem 4rem;
}

.empty-info img {
  width: 8rem;
  height: 100%;
}


